*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: white;
    padding: 20px;
}
nav{
    display: flex;
    width: 15%;
    justify-content: space-around;
    font-size: 15px;
}
nav a{
    color: white;
    text-decoration: none;
}
.titles{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
}
.subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white;
}
.fondotitles{
    background-image: url(./images/image01.jpg);
    width: 100%;
    padding: 60px;
}
.bodytitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 10px;
    font-size: 15px;
    padding: 10px;
}
body{
    background-color: rgb(178, 190, 201);
}
main{
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}
.maindiv{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.img1{
    margin-bottom: 10px;
}
.h2{
    background-color: black;
    margin: 10px;
    color: white;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.sections{
    justify-content: space-between;
    display: inline-block;
    background-color: white;
    width: 300px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.img2{
    justify-content: center;
    margin: 50px;
    align-items: center;
    width: 200px;
}
.p{
   margin-left: 100px;
}

table,
tr,
th,
td {
    border: solid black;
    border-collapse: collapse;
    text-align: center;
    background-color: white;
}
td, th {
    padding: 5px;
    margin: 5px;
}
.tableform{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
h3{
    font-size: 15px;
}
.form{
    display: block;
}
.form3{
    display: block;
    margin-top: 5px;
}
footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 15px;
    margin-top: 20px;
    width: 100%;
    padding: 20px;
}
.email{
    text-decoration: none;
    color: white;
}
.section1{
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width: 1024px){
    nav{
        width: 40%;
    }
    .sections{
        margin-left: 0;
    }
}
@media only screen and (max-width: 768px){
    header{
        width: 110%;
    }
    .fondotitles{
        width: 110%;
    }
    .img1{
        width: 180px;
    }
    main{
        margin-left: 50px;
    }
    .h2{
        margin-left: 50px;
    }
    .sections{
        width: 200px;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
    }
    footer{
        width: 110%;
    }
    .img2{
        width: 100px;
    }
    .p{
        margin-left: 70px;
    }
}
@media only screen and (max-width: 425px){
    header{
        width: 140%;
    }
    .fondotitles{
        width: 140%;
    }
    main{
        width: 120%;
        margin-left: 35px;
    }
    .img1{
        width: 150px;
    }
    .h2{
       width: 120%;
       margin-left: 35px;
    }
    footer{
        width: 140%;
    }
    .tableform{
     justify-content: center;
     justify-content: space-between;
     margin-left: 80px;
     align-items: center;
    }
    .section1{
        display: block;
        margin-top: 10px;
    }
    .sections{
        margin-top: 10px;
    }
}